

.header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  color: white; /* Adjust margin as needed */
}

.title {
  font-size: 40px; /* Adjust font size as needed */
  font-weight: 700; /* Adjust font weight as needed */
  padding: 10px; /* Added padding */
  background-color: rgba(0, 0, 0, 0.393); /* Added background color */
  color: #fff; /* Adjust text color as needed */
}


.container {
  background-image: url("question-mark.jpg");
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column; /* Added to stack elements vertically */
  align-items: flex-start; /* Align elements to the left */
  padding: 20px;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto'
  

}


.form-container {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.input-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px; /* Increased margin */
}

input[type="text"] {
  padding: 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 300px; /* Increased width */
}

button {
  padding: 15px 25px; /* Increased padding */
  border-radius: 5px;
  border: none;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  margin-left: 10px; /* Added margin */
}

.output-container {
  margin-top: 20px; /* Increased margin */
}

.output {
  border: 1px solid #ccc;
  padding: 15px;
  border-radius: 5px;
  background-color: #f9f9f9;
  margin-top: 10px; /* Added margin */
}
